@model MvcEmployee.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<fieldset>
    <input type="hidden" id="employeeId" value="@Model.EmployeeId"/>

    <div class="editor-field">
        First Name :
        <input type="text" id="firstName" value="@Model.FirstName" placeholder="Enter First Name" />
    </div>

    <div class="editor-field">
        Last Name :
        <input type="text" id="lastName" value="@Model.LastName" placeholder="Enter Last Name" />
    </div>

    <div class="editor-field">
        Email:
        <input type="email" id="email" value="@Model.Email" placeholder="Enter Email Address" />
    </div>

    <div class="editor-field">
        Gender : 
        <form id="gender">
            Male <input id="gender" name="gender" type="radio" value="Male" />
        <input id="gender" name="gender" type="radio" value="Female" /> Female
            </form>
</div>

    <div class="editor-field">
        <img id="imageView" src="#" width="100" height="100" />

        <p>
            Upload Image : <input type="file" id="imageFile" name="imageFile" />
        </p>
    </div>

    <div class="editor-field">
        <input type="submit" value="Update" id="btnEdit" />
    </div>


</fieldset>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/EmployeeEdit.js"></script>

}
